<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="utf-8">
    <title>New Salmon Blog - {{ article.title }}</title>
    <link href="/stylesheets/layout.css" rel="stylesheet">
    {{ article_ogp_meta_tags article }}
  </head>
  {{> header }}
  <body>
    <div id="main">
      <article>
        <hgroup>
          <date datetime="{{ convert_to_iso8601 article.date }}">
            {{ article.date }}
          </date>
          <h1>
            {{ article.title }}
          </h1>
          {{> article_html }}
        </hgroup>
      </article>
    </div>
    {{> menu }}
  </body>
</html>
